
{% extends 'base.html.twig' %}
{% block title %}Categories{% endblock %}


{% block body %}
    {{ parent() }}
    <div class="container">
        <h1>Categories</h1>
        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item" id ="{{ category.id }}">{{ category.name }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}